<!DOCTYPE html>
<html>
<!-- <head>
    <title>Conversor de Moedas</title>
    <style>
        /* .custom-background {
            background: linear-gradient(to bottom right, #FF9999, #66CCFF); /* Substitua as cores pelo gradiente desejado */
            padding: 4% 0; /* Ajuste o preenchimento conforme necessário */
        } */
    </style>
</head> -->
<body>

  <div class=" text-center">
    <img class="d-block mx-auto mb-4" src="assets\img\foto000.png" width="30%">
    <h1 class="display-5 fw-bold text-body-emphasis">Conversor de Moedas </h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4"> O Projeto de Conversor de Moedas foi criado para facilitar e exemplificar o consumo das APIs. </p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <!-- Adicione qualquer conteúdo adicional aqui -->
        </div>
    </div>
  </div>

</body>
</html>
